<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title">اعادة ضبط كلمه السر</h1>

      <jhi-alert-error></jhi-alert-error>

      @if (!success) {
        <div class="alert alert-warning">
          <span jhiTranslate="reset.request.messages.info">أدخل عنوان البريد الإلكتروني الذي استخدمته للتسجيل</span>
        </div>
      } @else {
        <div class="alert alert-success">
          <span jhiTranslate="reset.request.messages.success"
            >تحقق من رسائل البريد الإلكتروني للحصول على تفاصيل حول كيفية إعادة ضبط كلمة المرور الخاصة بك.</span
          >
        </div>
      }

      @if (!success) {
        <form name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email" jhiTranslate="global.form.email.label">البريد الإلكتروني</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @if (
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ) {
              <div>
                @if (resetRequestForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.required"
                    >البريد الإلكتروني الخاصة بك مطلوب.</small
                  >
                }
                @if (resetRequestForm.get('email')?.errors?.email) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid">بريدك الالكتروني خاطئ.</small>
                }

                @if (resetRequestForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.minlength"
                    >البريد اﻹلكتروني لا يمكن أن يكون اقل 4 احرف.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.maxlength"
                    >البريد اﻹلكتروني لا يمكن أن يكون اكثر من 50 حرفا.</small
                  >
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary"
            jhiTranslate="reset.request.form.button"
            data-cy="submit"
          >
            اعد ضبط كلمه السر
          </button>
        </form>
      }
    </div>
  </div>
</div>
